.input {
  & input,
  & select {
    background-color: transparent;
    border: 1px solid var(--ant-color-primary);
    border-radius: 10px;
    color: var(--color-text-dark);
    margin: 0;
    padding: 12px;

    & option {
      padding: 30px;
    }

    &::placeholder {
      color: var(--ant-color-text);
    }
  }

  & fieldset {
    border: unset;
    margin: 0;
    gap: var(--layout-padding);
    padding: 12px;
    display: flex;
    & label {
      display: flex;
      gap: 5px;
    }
  }

  flex-direction: column;
  gap: 8px;
  color: var(--color-text-dark);

  & label {
    font-size: var(--ant-font-size);
    user-select: none;
  }
  .error {
    font-size: var(--ant-font-size-icon);
    color: red;
  }
}
